@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

.skip a{
	position: absolute;
	color: black;
	background-color: white;
	top: -25px;
	z-index: 3;
	transition: top 1s ease-out;
}
.skip a:focus {
	top: 0;
}

header {
	grid-column: 2/3;
	grid-row: 2/3;
}

header h1 {
	color: black;
	font-size: 36px;
	font-family: "Roboto Slab", serif;
	text-align: center;
}

main {
	grid-column: 2/3;
	grid-row: 3/-2;
}
main.home {
	grid-column: 2/3;
	grid-row: 3/4;
}
aside.home {
	grid-column: 2/-2;
	grid-row: 4/-2;
	justify-self: center;
	font-size:16px;
	font-family: "Roboto Slab", serif;
}
#contactUs {
	display: none;
}
@media screen and (min-width: 768px) {
	aside.home {
		/* grid-column: 3/-1;
		grid-row: 3/-2; */
		position: fixed;
		height: 6.2em;
		width:10em;
		top:15em;
		right:-11em;
		background: white;
		border: 2px solid black;
		transition: right 1s;
		z-index: 3;
	}
	main.home {
		grid-row: 3/-2;
	}
	#contactUs {
		display: unset;
		position: fixed;
		top:12em;
		right: 0;
		height: 3em;
		width: 5em;
		color: rgb(201, 0, 0);
		font-family: "Roboto Slab", serif;
		font-weight: bold;
		font-size:16px;
	}
}
input, textarea {
	width: 10em;
	height: 1.2em;
}

/* font */
a {
	font-family: "Roboto Slab", serif;
	font-size: 20px;
}
i {
	font-style: italic;
}
main p {
	color: black;
	font-size: 20px;
	font-family: "Roboto Slab", serif;
	margin: 0 0 1em 0;
}
.developercontainer main p {
	padding: 0.5em;
	margin: 1em;
}
main h1 {
	color: black;
	font-size: 36px;
	font-family: "Roboto Slab", serif;
}
#developer_background p{
	color: white;
}

/* images */
figcaption{
	color: black;
	top: 0;
	text-align: center;
}

img:hover {
	box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5); ;
}

img {
	box-sizing: border-box;
	border:0;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
	grid-column: 2/3;
}
figure{
	text-align: center;
}
#developer_background {
	background-image: url("../image/developer.png");
	background-size: cover;
}
#developer_background p {
	background-color: black;
}

/* containers */
body {
	display: grid;
	grid-template-columns: 1fr 14fr 1fr;
	grid-template-rows: auto auto auto auto 4em;
	row-gap: 20px;
	column-gap: 10px;
}

.gallary {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	align-items: center;
	grid-column: 2/3;
	grid-row: 3/-2;
}

@media screen and (min-width: 768px) {
	body {
		grid-template-columns: 1fr 8fr 1fr;
	}
	.gallary img{
		width: 600px;
	}
	.gallary figure:nth-child(even){
		align-self: flex-start;
	}
	.gallary figure:nth-child(odd){
		align-self: flex-end;
	}
}
@media screen and (min-width: 1280px) {
	.gallary{
		flex-flow: row wrap;
		justify-content: space-around;
	}
	.gallary img{
		width: 480px;
		height: 270px;
	}
}


/* navigation and footer */
nav{
	background-color: #ddd;
	padding: 10px 0;
	text-align: left;
	grid-column: 1/-1;
	grid-row: 1/2;
	top:0;
	position: sticky;
	z-index: 2;
}
nav li{
	display: block;
	padding: 5px;
}
nav button{
	position: fixed;
	height: 4em;
	width: 4em;
	right: 0;
	top: 3em;
	font-size: 16px;
	font-family: "Roboto Slab", serif;
	font-weight: bold;
}
nav.revert{
	text-align: right
}
@media screen and (min-width: 768px) {
	nav, nav.revert {
		text-align: center;
		padding: 20px 0;
	}
	nav li{
		display: inline;
		padding:10px;
  	}
	nav button{
		display: none;
	}
}

nav a{
  	color: black;
  	font-weight: bold;
  	text-decoration: none;
}

nav a:hover{
  	text-decoration: underline;
}

nav a:focus {
	border: 2px solid black;
}

nav a.active{
	background: black;
	color: white;
	font-style:italic;
}

footer{
  	background-color: black;
  	color: white;
  	grid-column: 1 / -1;
  	grid-row: span 1 / -1;
  	padding-top: 30px;
  	text-align: center;
}

/* animation */
@keyframes example {
	from {left:30px;opacity: 0;}
	to {left:0px;opacity: 1;}
  }
@media (prefers-reduced-motion: no-preference){
	img{
		position: relative;
		animation-name: example;
  		animation-duration: 2s;
	}
}