@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

.skip a{
	position: absolute;
	color: black;
	background-color: white;
	top: -25px;
	z-index: 3;
	transition: top 1s ease-out;
}
.skip a:focus {
	top: 0;
}

header {
	grid-column: 2/3;
	grid-row: 2/3;
}

header h1 {
	color: white;
	font-size: 36px;
	font-family: "Roboto Slab", serif;
	text-align: center;
	text-shadow: 2px 2px black;
	background-color: black;
}

main {
	grid-column: 2/3;
	grid-row: 3/4;
}

aside.home {
	grid-column: 2/-2;
	grid-row: 4/5;
	justify-self: center;
	font-size:16px;
	font-family: "Roboto Slab", serif;
	color: white;
	background-color: black;
	padding: 0.5em;
	margin: 0.5em;
}
#contactUs {
	display: none;
}
@media screen and (min-width: 768px) {
	aside.home {
		position: fixed;
		min-height: 4em;
		min-width:10em;
		top:15em;
		right:-22em;
		border: 2px solid black;
		transition: right 1s;
		z-index: 3;
	}
	#contactUs {
		display: unset;
		position: fixed;
		top:12em;
		right: 0;
		height: 3em;
		width: 5em;
		color: white;
		background-color: black;
		font-family: "Roboto Slab", serif;
		font-weight: bold;
		font-size:16px;
	}
}
input, textarea {
	width: 10em;
	height: 1.2em;
}

/* font */
a {
	font-family: "Roboto Slab", serif;
	font-size: 20px;
}
i {
	font-style: italic;
}

p, figure{
	background-color: black;
	box-shadow: 0 0 5px 2px black;
	margin: 0.5em;
	color: white;
	font-family: "Roboto Slab", serif;
}
p {
	font-size: 20px;
	padding: 0.5em;
}
figcaption {
	font-size: 16px;
	padding: 0.2em;
}
main h1 {
	color: black;
	font-size: 36px;
	font-family: "Roboto Slab", serif;
}


/* images */
figcaption{
	text-align: center;
}
figcaption a{
	color: aqua;
}
img:hover {
	box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5); ;
}

img {
	box-sizing: border-box;
	border:0;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
	grid-column: 2/3;
}
figure{
	text-align: center;
}

/* containers */
body {
	display: grid;
	grid-template-columns: 1fr 18fr 1fr;
	grid-template-rows: auto auto auto auto 4em;
	row-gap: 1em;
	background-size: auto;
	background-attachment: fixed;
}
body.homecontainer{
	background-image: url("../image/screenshot2.jpg");
}
body.gallarycontainer{
	background-image: url("../image/scenes3.jpg");
}
body.timelinecontainer{
	background-image: url("../image/scenes2.jpg");
}
body.developercontainer{
	background-image: url("../image/screenshot3.jpg");
}
#gallary {
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-column: 2/3;
	grid-row: 3/-2;
}


@media screen and (min-width: 768px) {
	body {
		grid-template-columns: 1fr 8fr 1fr;
	}
	#gallary img{
		width: 600px;
	}
	#gallary figure:nth-child(even){
		align-self: flex-start;
	}
	#gallary figure:nth-child(odd){
		align-self: flex-end;
	}

	main {
		display: grid;
		align-items: center;
	}
	#developersubgrid {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto auto auto;
	}
	#developersubgrid figure.first{
		grid-row: 1/2;
		grid-column: 1/3;
	}
	#developersubgrid p.first{
		grid-row: 2/3;
		grid-column: 1/3;
	}
	#developersubgrid figure{
		grid-column: 1/2;
	}
	#developersubgrid p{
		grid-column: 2/3;
	}
	#developersubgrid .second{
		grid-row: 3/4;
	}
	#developersubgrid .third{
		grid-row: 4/5;
	}
	#developersubgrid figure.forth{
		grid-row: 5/6;
		grid-column: 1/3;
	}
	
	#timelinesubgrid{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto auto;
	}
	#timelinesubgrid .first{
		grid-row: 1/2;
		grid-column: 1/2;
	}
	#timelinesubgrid .second{
		grid-row: 1/2;
		grid-column: 2/3;
	}
	#timelinesubgrid .third{
		grid-row: 2/3;
	}
	#timelinesubgrid .forth{
		grid-row: 3/4;
	}
	#timelinesubgrid .fifth{
		grid-row: 4/5;
	}
	#timelinesubgrid figure{
		grid-column: 1/2;
	}
	#timelinesubgrid p{
		grid-column: 2/3;
	}

	#mainsubgrid{
		grid-template-columns: 3fr 1fr;
		grid-template-rows: repeat(5, auto);
	}
	#mainsubgrid .first, 
	#mainsubgrid .second{
		grid-column: 1/2;
	}
	#mainsubgrid figure.first{
		grid-column: 1/3;
		grid-row:1/2;
	}
	#mainsubgrid p.first{
		grid-row:2/3;
	}
	#mainsubgrid figure.second{
		grid-row:3/4;
	}
	#mainsubgrid p.second{
		grid-row:4/5;
	}
	#q1, #q2, #q3{
		grid-column: 2/3;
	}
	#q1{
		grid-row: 2/3;
	}
	#q2{
		grid-row: 3/4;
	}
	#q3{
		grid-row: 4/5;
	}
}

@media screen and (min-width: 1280px) {
	#gallary{
		flex-flow: row wrap;
		justify-content: space-around;
	}
	#gallary img{
		width: 480px;
		height: 270px;
	}
	#developersubgrid figure.first{
		grid-row: 1/3;
		grid-column: 1/2;
	}
	#developersubgrid p.first{
		grid-row: 1/3;
		grid-column: 2/3;
	}
	#developersubgrid .second{
		grid-row: 3/4;
	}
	#developersubgrid p.third{
		grid-row: 4/6;
		grid-column: 1/2;
	}
	#developersubgrid figure.third{
		grid-row: 4/5;
		grid-column: 2/3;
	}
	#developersubgrid figure.forth{
		grid-row: 5/6;
		grid-column: 2/3;
	}

	#timelinesubgrid{
		grid-template-columns: repeat(6,1fr);
		grid-template-rows: auto auto auto;
	}
	#timelinesubgrid p.first{
		grid-row: 1/2;
		grid-column: 1/4;
	}
	#timelinesubgrid p.second{
		grid-row: 1/2;
		grid-column: 4/7;
	}
	#timelinesubgrid p.third,
	#timelinesubgrid figure.third{
		grid-column: 1/3;
	}
	#timelinesubgrid p.forth,
	#timelinesubgrid figure.forth{
		grid-column: 3/5;
	}
	#timelinesubgrid p.fifth,
	#timelinesubgrid figure.fifth{
		grid-column: 5/7;
	}
	#timelinesubgrid figure.third,
	#timelinesubgrid figure.forth,
	#timelinesubgrid figure.fifth {
		grid-row: 2/3;
	}
	#timelinesubgrid p.third,
	#timelinesubgrid p.forth,
	#timelinesubgrid p.fifth {
		grid-row: 3/4;
	}

	#mainsubgrid{
		grid-template-columns: repeat(3,1fr);
		grid-template-rows: repeat(6,auto);
	}

	#mainsubgrid figure.first{
		grid-row: 1/2;
		grid-column: 1/4;
	}
	#mainsubgrid p.first{
		grid-row: 2/3;
		grid-column: 1/4;
	}
	#mainsubgrid figure.second{
		grid-column: 1/3;
		grid-row: 3/4;
	}
	#mainsubgrid p.second{
		grid-column: 3/4;
		grid-row:3/4;
	}

	#q1, #q2, #q3{
		grid-column: 1/4;
	}
	#q1{
		grid-row: 4/5;
	}
	#q2{
		grid-row: 5/6;
	}
	#q3{
		grid-row: 6/7;
	}
}


/* navigation and footer */
nav{
	background-color: #ddd;
	padding: 10px 0;
	text-align: left;
	grid-column: 1/-1;
	grid-row: 1/2;
	top:0;
	position: sticky;
	z-index: 2;
}
nav li{
	display: block;
	padding: 5px;
}
nav button{
	color: black;
	background-color: #ddd;
	position: fixed;
	height: 5em;
	width: 5em;
	right: 0;
	top: 2em;
	font-size: 16px;
	font-family: "Roboto Slab", serif;
	font-weight: bold;
	border: none;
}
nav button:hover{
	text-decoration: underline;
}
nav.revert{
	text-align: right
}
@media screen and (min-width: 768px) {
	nav, nav.revert {
		text-align: center;
		padding: 20px 0;
	}
	nav li{
		display: inline;
		padding:10px;
  	}
	nav button{
		display: none;
	}
}

nav a{
  	color: black;
  	font-weight: bold;
  	text-decoration: none;
}

nav a:hover{
  	text-decoration: underline;
}

nav a:focus {
	border: 2px solid black;
}

nav a.active{
	background: black;
	color: white;
	font-style:italic;
}

footer{
  	background-color: black;
  	color: white;
  	grid-column: 1 / -1;
  	grid-row: span 1 / -1;
  	padding-top: 30px;
  	text-align: center;
}

/* animation */
@keyframes example {
	from {left:30px;opacity: 0;}
	to {left:0px;opacity: 1;}
  }
@media (prefers-reduced-motion: no-preference){
	img{
		position: relative;
		animation-name: example;
  		animation-duration: 2s;
	}
}