@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

title {
	background-image: "image/background.png";
}
.skip a{
	position: absolute;
	color: black;
	background-color: white;
	top: -25px;
	z-index: 3;
	-webkit-transition: top 1s ease-out;
	transition: top 1s ease-out;
}
.skip a:focus {
	top: 0;
}

header {
	grid-column: 2/3;
	grid-row: 2/3;
}

header h1 {
	color: black;
	font-size: 36px;
	font-family: "Roboto Slab", serif;
	text-align: center;
}
aside.home {
	grid-column: 2/3;
	grid-row: 3/4;
}
main.home {
	grid-column: 2/3;
	grid-row: 4/-2;
	/*background-color: rgb(50, 31, 23);*/
}
.developercontainer main {
	grid-column: 2/3;
	grid-row: 3/-2;
}
.timelinecontainer main {
	grid-column: 2/3;
	grid-row: 3/-2;
}
/* font */
a {
	font-family: "Roboto Slab", serif;
	font-size: 20px;
}
i {
	font-style: italic;
}
main p {
	color: black;
	font-size: 20px;
	font-family: "Roboto Slab", serif;
	margin: 0 0 1em 0;
}
.developercontainer main p {
	padding: 0.5em;
	margin: 1em;
}
main h1 {
	color: black;
	font-size: 36px;
	font-family: "Roboto Slab", serif;
}
#developer_background p{
	color: white;
}

/* images */
figcaption{
	color: black;
	top: 0;
	text-align: center;
}

img:hover {
	box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5); ;
}

img {
	box-sizing: border-box;
	border:0;
	/* border: 2px solid rgba(0, 0, 0, 0.5); */
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
	grid-column: 2/3;
}
figure{
	text-align: center;
}
#developer_background {
	/* background-color: rgb(38, 38, 38); */
	background-image: url("../image/developer.png");
	/* linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) */
	background-size: cover;
}
#developer_background p {
	background-color: black;
}
/* containers */
.homecontainer {
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
	grid-template-rows: auto auto auto auto 4em;
	row-gap: 20px;
}
.gallarycontainer {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	align-content: center;
}
.developercontainer {
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
	grid-template-rows: auto auto auto 4em;
	row-gap: 20px;
}
.timelinecontainer {
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
	grid-template-rows: auto auto auto 4em;
	row-gap: 20px;
}
.gallary {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	align-items: center;
}

/* navigation and footer */
nav{
	background-color: #ddd;
	padding: 10px 0;
	text-align: left;
	grid-column: 1/-1;
	grid-row: 1/2;
	top:0;
	position: sticky;
	z-index: 2;
}
nav li{
	display: block;
	padding: 5px;
  }
@media screen and (min-width: 800px) {
	nav {
		text-align: center;
		padding: 20px 0;
	}
	nav li{
		display: inline;
		padding:10px;
  	}
}

nav a{
  	color: black;
  	font-weight: bold;
  	text-decoration: none;
}

nav a:hover{
  	text-decoration: underline;
}

nav a:focus {
	border: 2px solid black;
}

nav a.active{
	background: black;
	color: white;
}

footer{
  	background-color: black;
  	color: white;
  	grid-column: 1 / -1;
  	grid-row: span 1 / -1;
  	padding-top: 30px;
  	text-align: center;
}

/* animation */
@keyframes example {
	from {left:30px;opacity: 0;}
	to {left:0px;opacity: 1;}
  }
@media (prefers-reduced-motion: no-preference){
	.timeline img{
		position: relative;
		animation-name: example;
  		animation-duration: 2s;
	}
}