@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

title {
	background-image: "image/background.png";
}
.skip a{
	color: black;
	left: 0;
	top: 0;
	padding: 0;
	z-index: 1;
	position: relative;
}

header {
	grid-column: 2/3;
	grid-row: 2/3;
}

header h1 {
	color: black;
	font-size: 64px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

main.home {
	grid-column: 2/3;
	grid-row: 3/-2;
	/*background-color: rgb(50, 31, 23);*/
}
main.gallary {
	background-color: white;
}
/* font */
a {
	font-family: "Roboto Slab", serif;
	font-size: 20px;
}
i {
	font-style: italic;
}
main p {
	color: black;
	font-size: 20px;
	font-family: "Roboto Slab", serif;
}
main h1 {
	color: black;
	font-size: 36px;
	font-family: "Roboto Slab", serif;
}
#developer_background p{
	color: white;
}
/* images */
figcaption{
	color: black;
	top: 0;
	text-align: center;
}

img:hover {
	box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.9); ;
}

img {
	box-sizing: border-box;
	border:0;
	/* border: 2px solid rgba(0, 0, 0, 0.5); */
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
	grid-column: 2/3;
}
figure{
	text-align: center;
}
#developer_background {
	/* background-color: rgb(38, 38, 38); */
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../image/developer.png");
	background-size: cover;
}


/* containers */
.container {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: 4em auto auto auto 4em;
	row-gap: 30px;
}
.gallarycontainer {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	align-content: center;
}
.gallary {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	align-items: center;
}




/* navigation and footer */
nav{
	background-color: #ddd;
	padding: 20px 0;
	text-align: center;
	grid-column: 1/-1;
	grid-row: 1/2;
	top:0;
	position: sticky;
}

nav li{
  	display:inline;
  	padding-right:20px;
}

nav a{
  	color: black;
  	font-weight: bold;
  	text-decoration: none;
}

nav a:hover{
  	text-decoration: underline;
}

nav a:focus {
	border: 2px solid black;
}

nav a.active{
	background: black;
	color: white;
}

footer{
  	background-color: black;
  	color: white;
  	grid-column: 1 / -1;
  	grid-row: span 1 / -1;
  	padding-top: 30px;
  	text-align: center;
}

/* animation */
@keyframes example {
	from {left:30px;opacity: 0;}
	to {left:0px;opacity: 1;}
  }
@media (prefers-reduced-motion: no-preference){
	.timeline img{
		position: relative;
		animation-name: example;
  		animation-duration: 2s;
	}
}